@{
  Layout = "_Layout";
}

@using Blockbuster.Models;
@model List<Blockbuster.Models.Customer>;

<h1>Customers</h1>

<p>@Html.ActionLink("See a list of videos", "Index", "Videos")</p></p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>