@{
  Layout = "_Layout";
}

<h1>Welcome to BlockBuster</h1>
<h4>We're back &mdash; with a vengeance.</h4>

<p>@Html.ActionLink("Create an Account", "Index", "Customers")
<p>@Html.ActionLink("Login", "Login", "Customers")

