@{
  Layout = "_Layout";
}

@using Blockbuster.Models;
@model List<Blockbuster.Models.Video>;

<h1>Videos:</h1>

<ul>
  @foreach(Video video in Model)
  {
    <li>@Html.ActionLink($"{video.Title}", "Details", new { id = video.VideoId })</li>
  }
</ul>

<p>@Html.ActionLink("Add a video to the library", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Customers")</p>